In [6]:
import numpy as np
import pandas as pd
import duckdb
from pandasql import sqldf
heroes_information = pd.read_csv("heroes_information.csv")

In [7]:
duck_query = lambda q: duckdb.query(q)
pysqldf = lambda q: sqldf(q,globals())

In [8]:
###instalar desde anaconda navigator######  
####pandasql
####mysql
####mysql-connector-c
####mysql-connector-python
from pandas import *

In [10]:
####para enlistar los documentos en el directorio#####
import os 
os.listdir( )

['.ipynb_checkpoints',
 'AndreaSING.R',
 'Create_Table.png',
 'Create_table_syntax.png',
 'data',
 'Ejercicio en clase SQL',
 'heroes_information.csv',
 'IMDB_Schema.png',
 'INE_PARQUE_VEHICULAR_080219.txt',
 'Intermediate_SQL_Student.ipynb',
 'joins.jpg',
 'Jupyter Notebook (DATAWRANLING).lnk',
 'Jupyter Notebook.lnk',
 'Lab1',
 'myenv',
 'Reset Spyder Settings.lnk',
 'set_theory.PNG',
 'Spyder.lnk',
 'SQL Competition.ipynb',
 'Untitled.ipynb',
 '__MACOSX']

In [11]:
query1 = "SELECT * FROM heroes_information limit 10"

In [12]:
pysqldf(query1)

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,None,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,None,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,None,bad,-99.0
5,5,Absorbing Man,Male,blue,Human,No Hair,193.0,Marvel Comics,None,bad,122.0
6,6,Adam Monroe,Male,blue,None,Blond,-99.0,NBC - Heroes,None,good,-99.0
7,7,Adam Strange,Male,blue,Human,Blond,185.0,DC Comics,None,good,88.0
8,8,Agent 13,Female,blue,None,Blond,173.0,Marvel Comics,None,good,61.0
9,9,Agent Bob,Male,brown,Human,Brown,178.0,Marvel Comics,None,good,81.0

In [13]:
query1 = """
SELECT *
FROM heroes_information
WHERE Race='Human'
AND Height > 200;

"""

In [14]:
pysqldf(query1)

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,None,good,441.0
1,29,Ant-Man,Male,blue,Human,Blond,211.0,Marvel Comics,None,good,122.0
2,59,Bane,Male,None,Human,None,203.0,DC Comics,None,bad,180.0
3,119,Bloodaxe,Female,blue,Human,Brown,218.0,Marvel Comics,None,bad,495.0
4,221,Doctor Doom,Male,brown,Human,Brown,201.0,Marvel Comics,None,bad,187.0
5,373,Juggernaut,Male,blue,Human,Red,287.0,Marvel Comics,None,neutral,855.0
6,391,Kingpin,Male,blue,Human,No Hair,201.0,Marvel Comics,None,bad,203.0
7,412,Lizard,Male,red,Human,No Hair,203.0,Marvel Comics,None,bad,230.0
8,476,Mr Incredible,Male,blue,Human,Blond,201.0,Dark Horse Comics,None,good,158.0
9,557,Rey,Female,hazel,Human,Brown,297.0,George Lucas,None,good,-99.0
10,583,Scorpion,Male,brown,Human,Brown,211.0,Marvel Comics,None,bad,310.0
11,591,She-Hulk,Female,green,Human,Green,201.0,Marvel Comics,None,good,315.0

In [15]:
query5 = """ 
SELECT publisher, COUNT(*) AS superhero_count
FROM heroes_information
GROUP BY publisher
HAVING COUNT(*) > 15;
"""
pysqldf(query5)

           Publisher  superhero_count
0          DC Comics              215
1  Dark Horse Comics               18
2      Marvel Comics              388
3       NBC - Heroes               19

In [20]:
#Cuál es el nombre del primer superhéroe de la tabla heroes?
duck_query (
"""
SELECT name 
FROM heroes_information
LIMIT 1;
"""
)

┌─────────┐
│  name   │
│ varchar │
├─────────┤
│ A-Bomb  │
└─────────┘

In [25]:
#Cuántas casas publicadoras existen?
duck_query(
    """
    SELECT COUNT (DISTINCT Publisher)
    FROM  heroes_information
    AS 'Conteo casas productoras' ;

    """
)

┌───────────────────────────┐
│ count(DISTINCT Publisher) │
│           int64           │
├───────────────────────────┤
│                        24 │
└───────────────────────────┘

In [33]:
#Cuántos superhéroes miden más de 2 metros (200 cms)
duck_query(
    """
    SELECT COUNT (name)
    FROM heroes_information
    WHERE Height > 200
    ;
    """
)

┌───────────────┐
│ count("name") │
│     int64     │
├───────────────┤
│            59 │
└───────────────┘

In [34]:
#Cuántos superhéroes son humanos y miden más de 2 metros (200 cms)?
duck_query(
    """
    SELECT COUNT (name)
    FROM heroes_information
    WHERE (Race = 'Human' AND Height > 200)

    """

    
)

┌───────────────┐
│ count("name") │
│     int64     │
├───────────────┤
│            12 │
└───────────────┘

In [35]:
#Cuántos superhéroes pesan más de 100 lbs y menos de 200 lbs?
duck_query(
    """
    SELECT COUNT (name) AS '100<w<200'
    FROM heroes_information
    WHERE (Weight > 100 AND Weight < 200)

    """
)

┌───────────┐
│ 100<w<200 │
│   int64   │
├───────────┤
│        98 │
└───────────┘

In [40]:
#Cuántos superhéroes tienen los ojos de color azul o rojo?
duck_query(
    """
    SELECT COUNT (name) AS ' ojos azul o rojo' 
    FROM heroes_information
    WHERE ("Eye color" = 'red' OR "Eye color" = 'blue')
    

    """
)

┌───────────────────┐
│  ojos azul o rojo │
│       int64       │
├───────────────────┤
│               271 │
└───────────────────┘

In [42]:
#Cuántos superhéroes son Human, Mutant y tienen el pelo color Verde o son Vampiros con pelo Negro
duck_query(
    """
    SELECT COUNT(name) 
    FROM heroes_information 
    WHERE (Race = 'Human' AND Race = 'Mutant' AND "Hair color" = 'green')
    OR (Race = 'Vampire' AND "Hair color" = 'Black')
    """
)

┌───────────────┐
│ count("name") │
│     int64     │
├───────────────┤
│             1 │
└───────────────┘

In [43]:
# Cuál es el nombre del primer superhéroe si ordeno la tabla por raza en orden descendente?
duck_query (
    """
    SELECT name 
    FROM heroes_information 
    ORDER BY race DESC 
    LIMIT 1 
    """
    
)

┌────────────────┐
│      name      │
│    varchar     │
├────────────────┤
│ Solomon Grundy │
└────────────────┘

In [45]:
#Cuántos superhéroes son de género masculino y cuántas de género femenino?
duck_query(
    """
    SELECT Gender, COUNT(name) AS count
    FROM heroes_information
    WHERE Gender IN ('Male', 'Female')
    GROUP BY Gender
    """
)

Object `femenino` not found.

┌─────────┬───────┐
│ Gender  │ count │
│ varchar │ int64 │
├─────────┼───────┤
│ Male    │   505 │
│ Female  │   200 │
└─────────┴───────┘

In [46]:
#Cuántas casas publicadoras tienen más de 15 superhéroes?
duck_query(
    """
    SELECT Publisher, COUNT(name) 
    FROM heroes_information
    GROUP BY Publisher
    HAVING COUNT(name) > 15
    """
)

┌───────────────────┬───────────────┐
│     Publisher     │ count("name") │
│      varchar      │     int64     │
├───────────────────┼───────────────┤
│ Marvel Comics     │           388 │
│ DC Comics         │           215 │
│ Dark Horse Comics │            18 │
│ NBC - Heroes      │            19 │
└───────────────────┴───────────────┘